.right_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 30px;
   
    

}
.right_txt_wrapper{
    flex: 1;
    display:flex;
    padding:10px;
    justify-content: end;
   
    
}

.rightErrorTxtL{
 flex:1;
 

}
.rightErrorTxtR{
    flex:1;
    
   }
.rightError{
    width: 40px;
    height: 40;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    
  
}

.back{
    position: absolute;
    top:20px;
    right:60px;
    display: flex;
    flex-direction: column;
    background-color: #AACB73;
    border: none;
   
  }


#atmsearch{
    padding:5px;
    margin:0px 10px 0px 30px;
    border:'none';
    border-radius:3px
}
@media screen and (max-width:830px){
    .right_txt_wrapper{
        display:none;
       
    }
}