.single{
    display:flex;
    flex-direction: column;
    
}

h2{
    text-align: center;
    text-decoration: underline;
    color: #617143;
}

.singleAtm{
    width: 100%;
    display: flex;
    
   
}
.single_left{
    flex:1;
    display:flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* margin: 0px 20px; */

}
.single_middle{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
    margin-left: 15px;

}
.single_right{
    flex:1;display:flex;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  

}
@media screen and  (max-width:1000px) {
    .single_right{
        display: none;
    }
}
@media screen and  (max-width:600px) {
    .single_middle{
        display: none;
    }
}