.single{
    display:flex;
    flex-direction: column;
   
    
}

h2{
    text-align: center;
    text-decoration: underline;
    color: #617143;
}

.singleAtm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
   
}
.single_left{
    flex:1;
    display:flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: end; 
    margin-right: 30px;
    font-size: 10px;
   

}
.single_middle{
    flex:1;
    display:flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: start; 
    margin-left: 30px;
    font-size: 10px;
 

}
.single_right{
    flex:1;display:flex;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  

}
@media screen and  (max-width:1000px) {
    .single_right{
        display: none;
    }
}
@media screen and  (max-width:600px) {
    .single_middle{
        display: none;
    }
}