
.app_wrapper{
    display: flex;

  
  }
  .app_left_wrapper{
    flex:1;
    position: relative;
  
  }
  .app_right_wrapper{
    flex:3;
  
  }
  #logout{
    position: absolute;
    top:0;
    right:10px;
  }

  @media screen and (max-width:600px) {
    .app_left_wrapper{
        display: none;
    }
}